.fakePuzzle {
  display: none;
  height: 0px;
  width: 400px;
  user-select: none;
}

@media (min-width: 1757px) {
  .showWithFour {
    display: unset;
  }
}

@media (min-width: 1357px) and (max-width: 1756px) {
  .showWithThree {
    display: unset;
  }
}

@media (min-width: 957px) and (max-width: 1356px) {
  .showWithTwo {
    display: unset;
  }
}