.video-wrapper {
  display: flex;
  aspect-ratio: 1080 / 1920;
  height: 98vh;
  border: 2px solid var(--button-border);
  border-radius: 5px;
}

.video {
  width: 100%;
  height: 100%;
  border: none;
}