:root {
  --dark-green: #1a8e41;
  --green: #44af49;
  --checkbox-green: #4da351;
  --yellow: #ebb21a;
  --light-yellow: #f1dc33;
  --dark-orange: #ff4e00;
  --orange: #e98323;
  --red: #e74538;
  --blue: #0580c5;
  --purple: #814cd7;
  --light-purple: #a078e2;
  --cyan: #37c19e;
  --bkg: #faf4e1;
  --navbar: #174599;
  --navbar-light: #275dc0;
  --button-border: #cdcac0;
  --pdf-border: #363533;
  --geogebra-border: #d9d7d2;
  --textarea: rgb(90, 90, 90);
  --default-font: 'Source Sans Pro';
  scroll-behavior: smooth;
}

body {
  background-color: var(--bkg);
  font-family: var(--default-font), arial;
  margin: 0;
  overflow-x: hidden;
}

.card-container {
  display: flex;
  justify-content: center;
  margin: 80px 50px;
  flex-wrap: wrap;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
}

.bottom-puzzles {
  background: url("/quebra_cabeca_bg.png");
  transform: rotate(180deg);
  background-size: 800px 160px;
  height: 160px;
  width: 100%;
  margin-top: -1px;
  position: relative;
  z-index: -1;
}

.puzzles {
  background: url("/quebra_cabeca_bg.png");
  background-size: 800px 160px;
  height: 160px;
  margin-top: -1px;
  position: relative;
  z-index: -1;
}

h1 {
  color: var(--navbar-light);
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 50px;
  text-align: center;
}

.header {
  margin: -40px 0 40px 0;
  max-width: min(98%, 1300px);
  user-select: none;
}

.file {
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.drive {
  background-color: var(--navbar-light);
  text-decoration: none;
  margin: 20px 0 0 0;
}

.empty-iframe {
  height: 60vh;
}

.hidden {
  opacity: 0;
}

.noMatches {
  color: var(--dark-orange);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  
  display: flex;
  justify-content: center;
  padding: 15vh 30px;
}

.flex-justified {
  display: flex;
  justify-content: center;
}

@media (max-width: 360px) {
  h1 {
    font-size: 40px;
  }
}